.carousel-inner{
	font-family: 'K2D', sans-serif;
}
.navbar-brand {
	color:rgb(163, 84, 163) !important;
	font-family: 'Varela Round', sans-serif;
	font-size: 20px !important;
	
}

@font-face {
	font-family: 'Prompt';
	src : url("Fonts/Prompt.woff2") format('woff2');
}

@font-face {
	font-family: 'Taviraj';
	src : url("fonts/Taviraj.woff2") format("woff2");
}

body {
	background-image: url("../images/background2.jpg");
	background-size: auto;
	font-family: 'Prompt', sans-serif !important;
}

.footer {
	font-family: 'K2D', sans-serif;
	background-color: rgb(32, 32, 32);
	color: white;
	height: 100px;
	text-align: center;
	position: relative;
}

.footer .footer-bottom{
	height: 30px;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.footer-content ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-content ul li {
    list-style: none;
    margin: 0 10px;
}

.footer-content ul li .fa {
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.footer-content ul li .fa:hover {
    color: #ffffff;
}

.container-fluid .row .col-md .myBox{
	text-align: center;
}

.container .iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; 
	height: 0;
  }
.container .iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
  }



